body{padding-top: 20px;}
input[type="checkbox"] {margin-right: 5px;}
label {margin-right: 10px;}
.header {margin-bottom: 30px;}
.chooseLib{border-bottom: 1px solid #000; padding-bottom: 10px; margin-bottom: 20px;}
.libs {list-style-type: none; margin: 0px; padding: 0px; width: 300px;}
.libs li {background: #B4DFA6; padding: 10px;  margin-bottom: 3px;}
.libs li span{margin-right: 10px;}